.App {
  text-align: center;
}

.nav-bar {
  height: 2em;
  text-align: left;
  font-family: Arial;
  font-size: 16px;
  padding-top: .3em;
  margin-left: 15px;
}

.nav-item {
  margin-right: 1em;
}

#top-nav {
  background-color: #005480;
}

#bottom-nav {
  background-color: #F5F5F5;
}

#top-nav a {
  font-weight: bold;
  color: #ffffff;
}

h1, h4, p {
  text-align: left;
}

h1 {
  margin: 0 0 10px 0;
}

#event {
  box-shadow: 0 -2px 2px -2px #999;
  background-color: #ffffff;
  padding: 20px 30px 30px 30px;
  width: 1000px;
}

.event-row {
  margin: 0;
}

#event-text {
  margin-top: 35px;
  padding-left: 20px;
}

#map-label {
  margin-bottom: 0;
}

#image-row {
  background-position: -10px -226px;
  padding-bottom: 20px;
  padding-left: 80px;
}

#mid {
  background-color: #F5F5F5;
}

#booking {
  min-height: 540px;
  border: #E5E5E5 solid 1px;
  padding-left: 20px;
  margin-top: 20px;
}

form {
  display: table;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
}

#booking-col {
  min-height: 570px;
}

input[type=submit] {
  float: left;
}