body {
  margin-top: 20px;
  color: #5E5E5E;
  font-size: 15px;
}

#nav {
  margin-top: 10px;
}
.nav-bar {
  height: 2em;
  text-align: left;
  font-family: Arial;
  font-size: 16px;
  padding-top: .3em;
  margin-left: 15px;
}

.nav-item {
  margin-right: 1em;
}

#top-nav, #footer {
  background-color: #005480;
}

#bottom-nav {
  background-color: #F5F5F5;
}

#top-nav a {
  font-weight: bold;
  color: #ffffff;
}

h1, h2, p {
  text-align: left;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: #003D5D;
  margin: 0 0 10px 0;
}

h2 {
  font-size: 18px;
  font-weight: bold;
  color: #003D5D;
  margin-top: 0;
}

#event {
  box-shadow: 0 -2px 2px -2px #999;
  background-color: #ffffff;
  padding: 20px 30px 30px 30px;
  width: 1000px;
}

.event-row {
  margin: 0;
}

#event-text {
  margin: 35px 50px 0 0;
  padding-left: 15px;
}

#map-label {
  margin-bottom: 0;
}

#big-map {
  margin-left: -5px;
}

#small-map {
  position: absolute;
  top: 72px;
  margin-left: -10px;
}

#map-link {
  position: absolute;
  bottom: 10px;
  font-size: 13px;
  color: #3480DA;
  text-decoration: underline;
}

#venue-info {
  position: relative;
  width: 300px;
  height: 300px;
  background-color: white;
  padding: 10px 0 0 10px;
}

#venue-name {
  margin-bottom: -1px;
}

#date-time {
  line-height: 1;
}

#image-row {
  background-position: -10px -226px;
  height: 320px;
  padding-bottom: 20px;
  padding-left: 80px;
}

#mid {
  background-color: #F5F5F5;
}

#booking {
  min-height: 615px;
  border: #E5E5E5 solid 1px;
  padding: 20px;
  margin-top: 20px;
}

form {
  display: table;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
}

#booking-col {
  min-height: 100%;
}

.text-input-label {
  margin-bottom: 5px;
}

input[type=text] {
  width: 85%;
  padding-left: 10px;
}

input[type=submit] {
  float: left;
  background-color: orange;
  border: none;
  border-radius: 5px;
  padding: 4px 10px;
  color: white;
  font-weight: bold;
  margin-bottom: 30px;
}

#nameInput {
  margin-bottom: 10px;
}

#bring-id {
  clear: left;
  font-weight: bold;
  margin-right: 20px;
}

hr {
  width: 100%;
}

label {
  margin-left: 10px;
  font-weight: normal;
}

span {
  margin-left: 30px;
  color: #14C7F5;
  font-weight: bold;
}

#footer {
  height: 180px;
}
